#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  background-color: aqua;
  min-width: 500px;
  min-height: 70vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  display: flex;
  flex-direction: column;
}

.inputs input{
  margin: 5px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.inputs button{
  margin: 5px;
  width: 250px;

}

